html, body {
    width: 100vw;  /* 画面の横幅いっぱい */
    height: 100vh; /* 画面の高さいっぱい */
    margin: 0;
    padding: 0;
    overflow: hidden; /* スクロールバーを防ぐ */
  }


.title{
    text-align: center;
}
h1{
    font-size: 50px;
}



.school-name{
    text-align: right;
}


.form{
    font-size: 20px;
}
.form__explain{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 10px 10px 20px;
}

.form-date{
    position: relative;
    left: 35%;
}
.form-date__explain{
    text-align: center;   
}
.form-date__enter{
    margin: 0px 20px 0px;
}

tr, th{
    background-color: #fae7fc91;
    color: #000000;
    border-bottom: 1px ridge #E0E1E3;
    border-right: 1px ridge #E0E1E3; 
}

th {
    padding: 10px;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

}
table {
    margin: 10px 0px 0px;
    border-collapse: collapse; /* 枠線を重ねてシンプルに */
    width: 100%;
    font-size: 20px;
}

.row-cell{
    text-align: left;
}
.row-cell__title{
    text-align: center;
}
.row-cell__a{
    text-align: center;
}

@media(max-width: 480px){
}
