.title{
    text-align: center;
}
h1{
    font-size: 50px;
}

.school-name{
    text-align: right;
}


.form{
    font-size: 20px;
}
.form__explain{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 10px 10px 20px;
}

.form-date{
    position: relative;
    left: 35%;
}
.form-date__explain{
    text-align: center;   
}
.form-date__enter{
    margin: 0px 20px 0px;
}



th {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-bottom: 1px solid #E0E1E3;
    border-right: 1px solid #E0E1E3;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

}
table {
    margin: 200px 0px 0px;
    border-collapse: collapse; /* 枠線を重ねてシンプルに */
    width: 100%;
    font-size: 30px;
}

.row-cell__title{
    text-align: center;
}

@media(max-width: 480px){
}